/*Global*/
:root{
    /*Color*/
    --color-White: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white:#bdbdbd;
    --color-indigo:#17242d;
    --color-lightindigo:#1F3849;
    --color-black: #4d4d4d;
    --color-gray: #616161;
    --color-light-gray:#7c7979;
    --color-yellow:#fff7d1;
    --color-orange:#feb546;
    --color-black:#000000;
    --color-darkblue:#365870;
    --color-custom-gray:#a1a6ad;
    /*Font size*/
        --font-large: 48px;
        --font-medium: 28px;
        
        --font-regular: 20px;
        --font-small: 16px;
        --font-micro:14px;
    /*Font Weight*/
        --weight-bold: 700;
        --weight-semi-bold:600;
        --weight-regular:400;

    /*Size*/
    --size-border-radius:5px;

    /*Annimation*/
    --animation-duration :300ms;
}
/*공통적인 태그*/

*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

a{
    text-decoration: none;
    color:var(--color-light-white)
}

ul{
    list-style: none;
    padding-left: 0;

}

/*Typography(패딩과 텍스트 스타일링)*/
h1{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0; 
}

h2{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3{
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color:var(--color-black);
    margin: 8px 0;
}

p{
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color:var(--color-black);
    margin: 5px 0;
}

/*Navbar*/
#navbar{
    
    display: flex;
    justify-content: space-between;
    background-color: var(--color-indigo);
    
    color: var(--color-light-white);
    align-items: center;
    padding:14px;
    
}

/*로고*/
.navbar__logo{
    display: flex;
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}
.navbar__logo .navbar__logo__img{
    width: 40px;
    margin-right: 5px;
    
}

/*navmenu*/
.navbar__menu{
    display: flex;
    

}

/*Navbar item*/
.navbar__menu__item{
   
    border: 1px solid var(--color-indigo);
    padding:8px 12px;
    margin: 0 px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
    
}
.navbar__menu__item:active{
    border:1px solid var(--color-light-grey);
   
    
}
.navbar__menu__item:hover{
    background-color: var(--color-lightindigo);
    
}

/*home*/

#home{
    background: url(./img/home-background.png) center/cover no-repeat;
    padding: 350px;
    text-align: center;
}

.home__title{
    margin-bottom: 30px;
}

.home__title,
.home__description{
    color:var(--color-light-white)
    
}


.home__contact{
    display: flex;
    align-items: center;
    justify-content: center;

    color:var(--color-lightindigo);
    width: 40px; 
    height: 40px; 
    font-size: 60px; 
    border-radius: 50%; 
    border: none; 
    outline: none; 
    cursor: pointer;
    margin:0 auto;
    position: relative;
    bottom:-300px;
}

.home__contact:hover{
    color :var(--color-darkblue);
}

/*Section common (공통 중앙 정렬)*/
.section{
    padding:50px;
    text-align: center;
}


/*about*/

#about{
    display: flex;
    background-color: #17242d;
    height: 600px;
}
.about__profileBox{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    background-color:var(--color-custom-gray);
    color: var(--color-black);
    margin: 0 auto;
    border-radius: 15px;
    justify-content: center;
    align-items: center
}
.about__profileBox__avatar{
    position: relative;
    width: 250px;
    height:250px;
    border-radius: 50%;
    margin-right: 50px;
    top:-80px;
    
}
.about__profileBox__introBox{
    width: 600px;
    height: 450px;
    text-align: left;
    line-height: 32px;
}
.selfInt__title{
    font-size:var(--font-regular);
    font-weight:var(--weight-bold);
}
.selfInt__description,
.description__history{
    font-size: var(--font-small);
    font-weight: var(--weight-semi-bold);
}